# Ignore the following files and directories:
.data
.dockerignore
.docker
.git
.gitignore
.github
.claude
.pytest_cache
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.egg
*.log
*.swp
*.swo
*.DS_Store
*.idea
*.coverage
.coverage
docs
examples
htmlcov
test-reports
tests
redis_data
venv
config.yml
docker-compose.dev.yml