*.env
venv
**/__pycache__
.DS_Store
**/*.ipynb

.vscode
docker-compose.override.yml
docker-compose.dev.yml

static
!static/styles.css
config.json
config.yml
litellm_config.yaml

.data
tmp
*.pem
.coverage
.coverage.*
coverage.xml
htmlcov/
.qodo

traefik/
redis_data/
litellm_config.yaml
litellm_config.yml
