version: "3.3"
networks:
  conserver:
    external: true

services:
  conserver:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    command: "python ./server/main.py"
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env
    stop_grace_period: 5s
    networks:
      - conserver

  api:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    command: /bin/bash -c "poetry run uvicorn server.api:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
    ports:
      - "${CONSERVER_EXTERNAL_PORT:-8000}:8000"
    depends_on:
      - redis
    env_file:
      - .env
    networks:
      - conserver
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`${DNS_HOST}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=myresolver"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      - "traefik.http.middlewares.strip-api-prefix.stripprefix.prefixes=/api"


  redis:
    image: "redis/redis-stack:latest"
    ports:
      - "${REDIS_EXTERNAL_PORT:-8001}:8001"
    environment:
      REDIS_ARGS: --save 20 1 --notify-keyspace-events Ex --dir /data --appendonly yes
    mem_limit: 1gb # <===== IMPORTANT!!!! We're overriding this in the docker-compose.override.yml file
    volumes:
      - ./.data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - conserver
    